* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    ;
    font-family: "Roboto", sans-serif;

}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

section {
    padding: 120px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.address {
    font-style: normal;
}

button {
    border: none;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Common Mobile від 320 до 767*/
.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

/* Common Tablet*/
@media screen and (min-width: 768px)  {
.container {
        max-width: 768px;
    }
}
/* Common Desctop*/
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* Header Mobile*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-list,
.address-info {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
  }

.header-logo {
    padding: 16px 0;
    display: block;
}

.studio {
    color: #2e2f42;
}
 .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
 }

 .burger-icon {
    display: block;
    fill: #2f2f37;
 }

 /* Header Tablet */
  @media screen and (min-width: 768px) {
     .burger-btn {
         display: none;
     }
 
 .nav-list {
     display: flex;
     gap: 40px;
     align-items: center;
     color: #2e2f42;
 }
 .address-info {
     font-style: normal;
     display: block;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: #2e2f42;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
    display: block;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
    color: #404bbf;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}

.address-items {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
}

.page-nav .web-studio-logo {
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
}

.page-nav .studio {
    color: #2e2f42;

}

.page-nav .link-mail,
.page-nav .link-phone {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav .link-mail {
    padding: 24px 40px 24px 332px;
    color: #434455;
}

.page-nav .link-phone {
    padding: 24px 156px 24px 40px;
    color: #434455;
}
.page-nav .link:hover {
    color: #404bbf;
}

.page-nav .link:focus {
    color: #404bbf;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
/* Header Desctop*/
@media screen and (min-width: 1158px) {
    .header-logo {
       margin-right: 76px;
}

.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    
}

.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
 }
  /* mobile-menu */
   .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility cubic-bezier(0.4, 0, 0.2, 1);
  } 
    .mobile-menu.is-open {
      opacity: 1;  
      visibility: visible;
      pointer-events: auto;
    }
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }   
    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu-nav-list{
        margin-bottom: auto;
    }
           .mobile-menu-nav-content {
               display: block;
               color: #2e2f42;
           }
    
           .mobile-menu-nav-list {
               display: block;
               gap: 40px;
               align-items: center;
               color: #2e2f42;
           }
    
           .mobile-menu-nav-link {
               display: block;
               padding: 24px 0;
               font-weight: 700;
               font-size: 36px;
               line-height: 1.1;
               letter-spacing: 0.02em;
               color: #2e2f42;
               position: relative;
               transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           }
                        
           .mobile-menu-nav-link.current {
               position: relative;
               color: #404bbf;
           }

           /* Address-mobile */
            .address-mobile {
            font-style: normal;
            display: block;
            margin-bottom: 48px;
    }
        
            .contacts-list-mobile {
               display: block;
               align-items: center;
               font-weight: 500;
               font-size: 20px;
               line-height: 1.2;
               color: #434455;
               letter-spacing: 0.02em;
               gap: 24px;
               margin-bottom: 48px;
        }
            .contacts-link-mobile {
                display: block;
                padding: 24px 0;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.02em;
                color: #434455;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            .contacts-link-mobile.current { 
                position: relative;
                color: #4d5ae5;
            }
                  .contacts-link-mail,
                  .contacts-link-phone {
                      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  }
        
                  .contacts-link:hover {
                      color: #404bbf;
                  }
        
                  .contacts-link:focus {
                      color: #404bbf;
                  }
        
                  
        /* Список соцмереж */
        .social-media-list {
            display: flex;
            gap: 40px;
        }
    
        /* Кожен пункт списку */
        .social-media-item {
            width: 40px;
            height: 40px;
        }
    
        /* Посилання */
        .social-media-link {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-media-link:hover,
        .social-media-link:focus {
            background-color: #31d0aa;
        }
    
        /* Іконки */
        .social-media-icon {
            width: 24px;
            height: 24px;
            fill: #f4f4fd;
        }
 
        /* Tablet menu */
    @media screen and (min-width: 600px) {
    .mobile-menu {
     display: none;
    }
}
/* Main Content */
/* Mobile Our Professionalism */
/* Базове фонове зображення для мобільних телефонів */
.our-professionalism {
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/people-office-mobile1x-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* 📱 Телефон (ретина / 2x) */
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .our-professionalism{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
         url('../images/people-office-mobile2x-min.jpg');
    }
}

.title {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.01;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 64px 52px 200px;
    padding-top: 112px;
    padding-bottom: 112px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0.04em;
    text-align: center;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* колір фону при hover та focus */
.button:hover,
.button:focus {
    background-color: #404bbf;
}

/* Tablet Our Professionalism */
/* Базове фонове зображення для планшетів */
/* 📲 Планшет */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .our-professionalism {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/people-office-tablet1x-min.jpg");
    }
}
/* 📲 Планшет (ретина / 2x) */
@media only screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
    .our-professionalism{
        margin: 0 auto;
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url("../images/people-office-tablet2x-min.jpg");
    }
}
.title {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 48px auto;
    max-width: 496px;
}
/* 💻 Десктоп */
@media only screen and (min-width: 1158px) {
    .our-professionalism{
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url("../images/people-office-desctop1x-min.jpg");
    }
        .title{
            text-align: center;
        }
}

/* 💻 Десктоп (ретина / 2x) */
@media only screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .our-professionalism{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url("../images/people-office-desctop2x-min.jpg");
    }
}

/* Competence Mobile */
.our-competence{
    padding: 96px 0;
}
.competence-icons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    /* flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px; */
}
.icon-design{
    display: none;
}
.competence-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.competence-text{
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/* Competence Tablet*/
@media screen and (min-width: 768px) {
   .competence-icons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    }
.competence-title{
    text-align: left;
}
.competence-icon-item {
    width: calc((100% - 24px) / 2);
}
}

/* Competence Desctop*/
@media screen and (min-width: 1158px) {
     .our-competence {
            padding: 120px 0;
        }
    
        .our-competence .container {
            display: flex;
            flex-wrap: nowrap;
        }
        .competence-icons-list {
            /* display: flex;
            flex-direction: row;
            text-align: left;
            gap: 24px; */
            flex-wrap: nowrap;
                gap: 24px;
        }
    
        .competence-icon-item {
            flex-basis: calc((100% - 72px) / 4);
        }
        .competence-text{
        color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
        
    
        .competence-title {   
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            color: #2e2f42;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }
    
        
        .icon-design {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            margin-bottom: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
     }



 /* Our Team Mobile */
 .our-team{
    padding: 96px 0;
    background-color: #F4F4FD;
}
  .our-team .container {
      padding-left: 28px;
      padding-right: 28px;
   }
   .team-container-text{
    padding: 32px 0;
   }
  .our-team-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.our-teams-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
    /* flex-direction: column;
    gap: 24px; */
}
.our-teams-item {
    max-width: 264px;
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) /4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    /* padding: 0px 0px 32px; */
   }
.our-teams-member {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    }

.our-teams-member-position {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.our-teams-media-list{
    width: 232px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin-left: 16px;
    margin-top: 8px;
}
.our-teams-media-item {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-teams-media-link:hover,
.our-teams-media-link:focus {
    background-color: #404bbf;
}

.our-teams-media-icon {
    /* width: 16px;
    height: 16px; */
    fill: var(--icon-color, #f4f4fd);
}
    /* Our Team Tablet */
@media screen and (min-width: 768px) {
    .our-team-list{
        gap: 72px 24px;
        justify-content: center;
    }
    .our-teams-media-list {
        gap: 72px 24px;
        justify-content: center;
    }

    .our-teams-media-item {
        width: calc((100% - 24px) / 2);
    }
   }
   

    /* Our Team Desctop */
@media screen and (min-width: 1158px) {
     .our-team {
        padding: 120px 0;
        margin: 0 auto;
    }
    /* .our-team .container {
        max-width: 1158px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } */
    .our-teams-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .our-teams-media-item {
        width: calc((100% - 72px) / 4);
    }
}
/* Portfolio Mobile */
     .our-portfolio {
         padding: 96px 0;
     }
    .portfolio-overlay {
        display: none;
    }
    .our-portfolio-title {
        color: #2e2f42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
    .our-portfolio-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 48px 24px;
        background-color: #fff;
    }
    .our-portfolio-item{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    .portfolio-text-container{
        padding: 32px 16px;
        border: 1px solid var(--cornflower);
        border-top: none;
    }
        .our-portfolio-project {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--navy-blue);
            margin-bottom: 8px;
        }
    
        .our-portfolio-app {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--slate);
        }
    @media screen and (min-width: 768px) {
           .our-portfolio-item {
               width: calc((100% - 24px) / 2);
           }
    }
        
     @media screen and (min-width: 1158px) {
        .our-portfolio{
             padding: 120px 0;
         }
        .our-portfolio-item {
             box-shadow: none;
             width: calc((100% - 48px) / 3);
             transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
        
        .our-portfolio-item:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        }
        
        .portfolio-item:hover .portfolio-overlay {
            transform: translateY(0);
        }
        
        .img-thumb {
            position: relative;
            overflow: hidden;
        }

    .portfolio-overlay {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--cloud);
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--iris);
            padding: 40px 32px;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

           /* Footer Mobile */
        
        .footer .container {
            display: flex;
            flex-wrap: wrap;
            gap: 72px;
            justify-content: center;
        }
    
        .footer {
            background-color: #2e2f42;;
            padding: 96px 0;
        }
    
        .footer-main {
            /* display: flex; */
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
         .web-studio-logo {
             color: #4d5ae5;
             font-weight: 700;
             font-size: 18px;
             text-transform: uppercase;
             letter-spacing: 0.03em;
             line-height: 1.17;
             font-family: "Raleway", sans-serif;
         }
        .footer-logo {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
        }
    
         .footer .studio {
        color: #f4f4fd;
        }
    
        .text-business {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            max-width: 264px;
        }
    
        .social-media-title {
            font-weight: 500;
            margin-bottom: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            text-align: center;
            margin-bottom: 16px;
        }
    
        .social-media-list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
                 
        .social-media-link {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4d5ae5;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
                /* Subscribe-form  */
        .footer-form-container {
            /* display: flex; */
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .footer-form-label {
            margin-bottom: 16px;
        }
        .footer-input {
            font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
            opacity: 0.6;
            padding-left: 16px;
            border: 1px solid #ffffff;
            border-radius: 4px;
            width: 288px;
            height: 40px;
            background-color: transparent;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          }
          
         .footer-form-text{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 16px;
        }
          /* footer-button */
        .footer-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        .footer-form-button {
         width: 165px;
         display: flex;
         height: 40px;
         border-radius: 4px;
         padding: 8px 24px;
         background-color: #4d5ae5;
         border: none;
         line-height: 1.5;
         letter-spacing: 0.04em;
         font-weight: 500;
         font-size: 16px;
         align-items: center;
         color: #ffffff;
         cursor: pointer;
         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .footer-input:focus {
            border-color: var(--iris);
        }
    
       .footer-icon {
            margin-left: 16px;
            fill: #fff;
        }
    
        .footer-form-button:focus,
        .footer-form-button:hover,
        .footer-form-button:active {
            transform: scale(1.1);
            background-color: var(--ocean);
            border: none;
        }
    
        @media screen and (min-width: 768px) {
            .footer .container {
                max-width: 584px;
                justify-content: start;
                gap: 72px 24px;
                align-items: baseline;
            }
            .footer-form {
                display: flex;
            }
             .footer-main {
                display: flex;
                flex-direction: column;
                align-items: baseline;
            }
            .social-media-title {
                text-align: left;
                justify-content: flex-start;
            }
            .social-media-container {
                flex-direction: column;
                align-items: baseline;
            }
    
            .footer-form-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
    
            .footer-form {
                flex-direction: row;
                gap: 24px;
            }
    
            .footer-input {
                width: 264px;
            }
        }
    
        @media screen and (min-width: 1158px) {
            .footer .container {
                max-width: 1158px;
                padding: 0 15px;
                gap: 0;
            }
    
            .footer-main {
                margin-right: 120px;
            }
    
            .social-media-container {
                margin-right: 80px;
            }
    
            .social-media-link:hover {
                background-color: var(--green);
            }
        }
        
        /*---Модальне вікно--*/
    
    
        /* сірий фон */
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
    
            background: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            height: 100%;
            width: 100%;
            z-index: 10;
    
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            display: flex;
            justify-content: center;
            align-items: center;
    
            /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility cubic-bezier(0.4, 0, 0.2, 1);
        */
        }
        
        .is-open{
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .modal {
            width: 288px;
            min-height: 623px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fcfcfc;
    
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
            border-radius: 4px;
    
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 16px 16px;
        }
    
   /* стилізація модальної кнопки */
         .button-modal-close {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 24px;
            right: 24px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-bottom: 24px;
        }
        .button-icon {
            fill: #000000;
            /* початковий колір */
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /* Ховер і фокус кнопки */
        .button-modal-close:hover,
        .button-modal-close:focus {
            background-color: #404bbf;
            border: none;
        }
        /* Окремо — колір іконки при ховері та фокусі */
        .button-modal-close:hover>.button-icon,
        .button-modal-close:focus>.button-icon {
            fill: #ffffff;
        }

        /* Modal-text */
        .modal-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 16px;
        }
        .modal-form-desc {
            margin-bottom: 8px;
        }
       
        .input-wrapper {
            position: relative;
        }
        /* 1 поле Name */
        .modal-form-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            outline: transparent;
            padding-left: 38px;
            padding-right: 16px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /* Стиль при фокусі */
        .modal-form-input:focus {
            border-color: #4d5ae5;
        }
    
        .input-wrapper .input-icon:hover,
        .input-wrapper .input-icon:focus {
            border: 1px solid #4d5ae5;
            border-radius: 4px;
            border-color: #4D5AE5;
        }
         .input-icon {
             position: absolute;
             left: 16px;
             top: 50%;
             transform: translateY(-50%);
             fill: #2e2f42;
             /* базовий колір */
             transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
    
         /* Іконка змінює колір при фокусі інпута */
         .modal-form-input:focus+.input-icon {
             fill: #4d5ae5;
         }
        .modal-input-label {
            font-family: "Roboto", sans-serif;
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
            margin-bottom: 4px;
        }
         /* 4 поле Comment; Text input */
         .modal-form-text {
             border: 1px solid rgba(46, 47, 66, 0.4);
             background-color: transparent;
             border-radius: 4px;
             width: 100%;
             height: 120px;
             font-size: 12px;
             line-height: 1.17;
             letter-spacing: 0.04em;
             color: rgba(46, 47, 66, 0.4);
             padding: 8px 16px;
             outline: transparent;
             resize: none;
             transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
             border-color: #4D5AE5;
         }
    
         .textarea-label-modal {
             margin-bottom: 16px;
    
         }
    
         .textarea-label-modal .modal-form-text {
             fill: rgba(46, 47, 66, 0.4);
         }
    
         .modal-form-text {
             width: 100%;
             border: 1px solid rgba(46, 47, 66, 0.4)
         }
    
         .modal-form-text:focus {
             border-color: #4D5AE5;
         }

/* 5 поле Checkbox */

.check-input-label {
    margin-bottom: 24px;
}

.check-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-link {
    background-color: #e7e9fc;
    text-decoration: underline;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-link:hover,
.form-link:focus {
    color: #404bbf;
}

/* checked-стан */
.check:checked+.form-label>.check-box {
    background-color: var(--accent-color, #404bbf);
    border: none;
    fill: #F4F4FD;
}

.check:checked+.check-box .icon-check {
    fill: var(--light-color, #f4f4fd);
}

/* Label */
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

/* Посилання */
.form-label a {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--link-color, #4d5ae5);
}

/* Button */
.button-info {
    display: block;
    align-items: center;
    justify-content: center;
}

.button-modal {
    display: block;
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    margin-right: auto;
    margin-left: auto;
}
 @media screen and (min-width: 768px) {
     .modal{
            width: 408px;
            min-height: 584px; 
            padding: 72px 24px 24px;
            }
    }
 
   
 